@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #111827;
    padding: 1rem;
    border-right: 1px solid #ddd;
    flex-shrink: 0;
}

.sidebar .nav-link {
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 12px;
}

.sidebar .nav-link.active {
    color: #D97706;
}

.sidebar .nav-link i {
    font-size: 1.1rem;
}
.sidebar .nav-link:hover {
    color: #D97706;
}
.add-btn.btn{
    color: #ffffff;
    background-color:#D97706;
}
.add-btn.btn:hover{
    background-color:#D97706;
    color: #ffffff;
}
.custom-bg {
    background-color: #f0f0f0;
}
.title-name {
    color: rgb(16, 16, 16);
}

    /* Mobile bottom nav */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    z-index: 9999;
}
/* Hide mobile nav on md+ screens */

    /* Hide desktop nav on small screens */
.product-card img {
    height: 150px;
    object-fit: cover;
}
.banner{
    background-color:#D97706;
}
.mobile-nav a{
    color: #000000;
}
