@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #f8f9fa;
    padding: 1rem;
    border-right: 1px solid #ddd;
    flex-shrink: 0;
}

.sidebar .nav-link {
    color: #333;
    border-radius: 8px;
    padding: 10px 12px;
}

.sidebar .nav-link.active {
    color: #e4793f;
}

.sidebar .nav-link i {
    font-size: 1.1rem;
}
.sidebar .nav-link:hover {
    color: #e4793f;
}